# Ignore node_modules directory
node_modules/

# Ignore build output directory
build/

# Ignore environment files
.env

# Ignore npm debug log
npm-debug.log*

# Ignore yarn debug log
yarn-debug.log*

# Ignore yarn error log
yarn-error.log*

# Ignore VS Code settings
.vscode/

# Ignore logs
logs/

# Ignore any other build output or dependencies specific to your setup
